Classic/logicapp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflow_name": {
            "defaultValue": "TweetsNETCoreConf2021",
            "type": "string"
        },
        "connections_azuretables_name":{
            "defaultValue": "azuretables",
            "type": "string"
        },
        "connections_twitter_name":{
            "defaultValue": "twitter",
            "type": "string"
        }
    },
    "variables": {
        "default_location": "[resourceGroup().location]",
        "connections_azuretables_api": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('default_location'), '/managedApis/azuretables')]",
        "connections_twitter_api": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('default_location'), '/managedApis/twitter')]",
        "connections_azuretables_externalid": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/', parameters('connections_azuretables_name'))]",
        "connections_twitter_externalid": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/', parameters('connections_twitter_name'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflow_name')]",
            "location": "[variables('default_location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_azuretables_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_twitter_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_new_tweet_is_posted": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 5
                            },
                            "splitOn": "@triggerBody()?['value']",
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twitter']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/onnewtweet",
                                "queries": {
                                    "searchQuery": "from:@netcoreconf OR #netcoreconf OR #netcoreconf2021 OR #netcoreconf21 OR netcoreconf"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Check_Twitter": {
                            "actions": {
                                "Check_UserName": {
                                    "actions": {
                                        "Retweet": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['twitter']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/retweet",
                                                "queries": {
                                                    "trimUser": false,
                                                    "tweetId": "@triggerBody()?['TweetId']"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Insert_or_Merge_Speaker_Tweet": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@triggerBody()?['TweetedBy']",
                                                        "rfcm83"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Create_Speakers_Table": {
                                    "runAfter": {
                                        "Get_Speakers_table": [
                                            "Failed"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "Speakers",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuretables']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Tables"
                                    }
                                },
                                "Get_Speaker_Tweet": {
                                    "runAfter": {
                                        "Get_Speakers_table": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuretables']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/Tables/@{encodeURIComponent(body('Get_Speakers_table')?['TableName'])}/entities(PartitionKey='@{encodeURIComponent(triggerBody()?['TweetedBy'])}',RowKey='@{encodeURIComponent(triggerBody()?['TweetId'])}')"
                                    }
                                },
                                "Get_Speakers_table": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuretables']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/Tables/@{encodeURIComponent('Speakers')}"
                                    }
                                },
                                "Insert_or_Merge_Speaker_Tweet": {
                                    "runAfter": {
                                        "Create_Speakers_Table": [
                                            "Succeeded",
                                            "Skipped"
                                        ],
                                        "Get_Speaker_Tweet": [
                                            "Succeeded",
                                            "Skipped",
                                            "Failed"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "@outputs('Create_Entity')",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuretables']['connectionId']"
                                            }
                                        },
                                        "method": "patch",
                                        "path": "/Tables/@{encodeURIComponent('Speakers')}/entities(PartitionKey='@{encodeURIComponent(triggerBody()?['TweetedBy'])}',RowKey='@{encodeURIComponent(triggerBody()?['TweetId'])}')"
                                    }
                                }
                            },
                            "runAfter": {
                                "Create_Entity": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Create_Tweets_Table": {
                                        "runAfter": {
                                            "Get_Tweets_table": [
                                                "Failed"
                                            ]
                                        },
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": "Tweets",
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/Tables"
                                        }
                                    },
                                    "Get_Tweet": {
                                        "runAfter": {
                                            "Get_Tweets_table": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/Tables/@{encodeURIComponent(body('Get_Tweets_table')?['TableName'])}/entities(PartitionKey='@{encodeURIComponent(triggerBody()?['TweetedBy'])}',RowKey='@{encodeURIComponent(triggerBody()?['TweetId'])}')"
                                        }
                                    },
                                    "Get_Tweets_table": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/Tables/@{encodeURIComponent('Tweets')}"
                                        }
                                    },
                                    "Insert_or_Merge_Tweet": {
                                        "runAfter": {
                                            "Create_Tweets_Table": [
                                                "Succeeded",
                                                "Skipped"
                                            ],
                                            "Get_Tweet": [
                                                "Succeeded",
                                                "Failed",
                                                "Skipped"
                                            ]
                                        },
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": "@outputs('Create_Entity')",
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                }
                                            },
                                            "method": "patch",
                                            "path": "/Tables/@{encodeURIComponent('Tweets')}/entities(PartitionKey='@{encodeURIComponent(triggerBody()?['TweetedBy'])}',RowKey='@{encodeURIComponent(triggerBody()?['TweetId'])}')"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "contains": [
                                            "@toLower(triggerBody()?['TweetText'])",
                                            "speaker"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Create_Entity": {
                            "runAfter": {},
                            "type": "Compose",
                            "inputs": {
                                "Author": "@triggerBody()?['TweetedBy']",
                                "CreatedAt": "@triggerBody()?['CreatedAtIso']",
                                "Id": "@triggerBody()?['TweetId']",
                                "Item": "@string(triggerBody())",
                                "Location": "@triggerBody()?['UserDetails']?['Location']",
                                "OriginalTweetID": "@triggerBody()?['OriginalTweet']?['TweetId']",
                                "Text": "@triggerBody()?['TweetText']",
                                "UserID": "@triggerBody()?['UserDetails']?['Id']",
                                "UserName": "@triggerBody()?['UserDetails']?['UserName']"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuretables": {
                                "connectionId": "[variables('connections_azuretables_externalid')]",
                                "connectionName": "azuretables",
                                "id": "[variables('connections_azuretables_api')]"
                            },
                            "twitter": {
                                "connectionId": "[variables('connections_twitter_externalid')]",
                                "connectionName": "twitter",
                                "id": "[variables('connections_twitter_api')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azuretables_name')]",
            "location": "[variables('default_location')]",
            "kind": "V1",
            "properties": {
                "displayName": "StorageAccountConnection",
                "customParameterValues": {},
                "api": {
                    "id": "[variables('connections_azuretables_api')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_twitter_name')]",
            "location": "[variables('default_location')]",
            "kind": "V1",
            "properties": {
                "displayName": "TwitterConnection",
                "customParameterValues": {},
                "api": {
                    "id": "[variables('connections_twitter_api')]"
                }
            }
        }
    ]
}